* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: burlywood;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;

  border: solid;
  padding: 30px;
  margin: 30px;
}
h1 {
  margin: 20px;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}
li > a > img {
  width: 70px;
}
