.questioncard__bookmark {
  background-image: url();
  background-color: transparent;
  margin-left: auto;
  margin-top: -46px;
  border: none;
  transition: 0.3s ease-in;
}

.questioncard__bookmark:hover {
  transform: scale(1.2);
}
.questioncard__bookmark--active path {
  /*filter:invert();*/
}
.questionCard__showAnswerButton {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid;
  border-radius: 5px;
  align-self: center;
  transition: 0.2s ease-in;
}
.questionCard__showAnswerButton:hover {
  transform: scale(1.1);
}

.bookmarkimg {
  background-color: transparent;
}
